.details {
  width: 100%;
  margin: 5rem auto 0;
  /* padding: 3.25rem; */
  font-family: 'Overpass';
}

.container {
  display: flex;
}

.image-container {
  padding-top: 4rem;
  transform: translateX(-25rem);
  position: relative;
  width: 50%;
}

.detail-info {
  width: 85%;
  line-height: 1.8;
  margin-top: 1rem;
}
