.info {
  background: linear-gradient(165deg, #2d2e40, #3f4164);
  color: white;
  position: relative;
  font-family: 'Overpass';
  border-radius: 0 6.25rem;
  width: 100%;
}

.content {
  display: flex;
  padding-bottom: 5rem;
  height: 500px;
  background-image: url('../../assets/images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: bottom 0px left -300px;
}

.content img {
  height: 600px;
}

.background {
  border-radius: 0rem 6.25rem;
  background: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
}

.info-title {
  font-weight: 600;
  margin-top: 9rem;
}

.info-body {
  font-weight: 400;
  margin-top: 1rem;
  width: 90%;
  max-width: 600px;
  line-height: 1.8;
}
