:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*? -- Variables -- ?*/

  /** primary colors */
  --text-color-cta: hsl(356, 100%, 66%);
  --text-color-headings: hsl(200, 49%, 24%);
  --text-color-body: hsl(207, 13%, 34%);
  --text-color-footer: hsl(240, 2%, 79%);

  --color-cta-hover-bg: hsl(356, 100%, 74%);
  --color-footer-bg: hsl(239, 10%, 16%);

  /** gradients  */

  --gradient-cta: linear-gradient(
    135deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --gradient-body: linear-gradient(
    135deg,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );

  font-size: calc(14px + 0.39vw);
}
